* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Crimson Text", serif;
}

nav {
  background-color: #23120b;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  /* opacity: 0.9; */
}

a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #fdb827;
}

button {
  background-color: #23120b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: #fdb827;
  cursor: pointer;
  color: #23120b;
}

h1,
h2,
h3,
h4 {
  color: #23120b;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

span {
  color: #fdb827;
  text-shadow: 1px 1px #23120b;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  width: fit-content;
}

figcaption {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
}

img {
  border-radius: 4px;
}

.bg-white {
  background-color: white;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.projects {
  grid-template-columns: 1fr 1fr;
}

.project, .contact-me {
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px rgba(148, 141, 138, 0.3);
}

.contact-me {
  width: fit-content;
  height: fit-content;
}

.project-img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.desc {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-x-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.p-x-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

section {
  color: #23120b;
  min-height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
}

main {
  background-color: #f1f1f1;
}

footer {
  background-color: #23120b;
  color: #f1f1f1;
  /* opacity: 0.9; */
}

@media (max-width: 769px) {
  .about-me {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    align-items: center;
    justify-content: center;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .project {
    text-align: center;
  }

  nav ul, nav ul a {
    display: none;
  }

}

@media (max-width: 426px) {
  .buttons {
    flex-direction: column;
  }

  .project-links-and-title {
    flex-direction: column;
    justify-content: center;
  }
}